h1{
    color: firebrick
}

h1{
    text-decoration: underline
} 
body {
    background: url(fondo.jpg);
    background-size: 100%  
}

p{
    color: beige
}

p{
    font-size: 25px
}

p{
    line-height: 1
}

p{
    background-color: black;
    width: 1250px;
    height: 110px; 
    margin-left: 40px;
    opacity: 80%;
    border-radius: 20px dashed aqua;
    float: left;
    overflow: scroll;
}

a:hover{
    text-decoration: underline
}

a:active{
    color: aqua   
}

a:focus{
    background-color: floralwhite
}

ul{
    list-style-type: upper-roman
}

.cursos ul {
    background-color: antiquewhite;
    border-radius: 20px;
    width: 650px;
    box-shadow: 5px 5px 10px black;
}

img{
    max-width: 100%;
    
}

img{
    background-image: image()
    float: right 90px;
}

h3{
    background-color: antiquewhite;
    border-radius: 20px;
    width: 200px;
    box-shadow: 5px 5px 10px black;
}

h2{
    background-color: antiquewhite;
    border-radius: 20px;
    width: 200px;
    box-shadow: 5px 5px 10px black;
}
.info1 img{
    position: relative;
    left: 290px;
}
